*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
}

body{
  height: 100vh;
  width: 100vw;
  color: #fff;
}

section#points{
  display: flex;
  justify-content: space-around;
}

.s1, .s2{
  margin-top: 10px;
  text-align: center;
}

div#player-1{

}

div#empate{

}

div#player-2{

}
