* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}
body {
    background-color: rgb(249, 245, 245);
}
.header {
    background-color: rgb(47, 46, 46);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1em 1.8em;
}
.logoHeader {
    width: 180px;
}
.buttonsHeader {
    display: flex;
    gap: 10px;
}
.buttonItem {
    background-color: transparent;
    color: rgb(231, 226, 226);
    font-size: 1em;
    padding: 0.8em;
    border: 3px solid transparent;
    cursor: pointer;
    transition: 0.5s;
}
.buttonItem:hover {
    border-bottom: 3px solid #000;
}
.containerTitles {
    font-size: 1.1em;
    padding: 1.2em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: rgb(47, 46, 46);;
}
.paragraphTitle {
    font-size: 0.9em;
} 
.containerCentral {
    background-color: rgb(249, 245, 245);
    min-height: 100vh;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas:
        "main aside";
}
.main {
    grid-area: main;
    display: flex;
    column-gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}
.item {
    width: 20vw;
    min-width: 210px;
    height: 310px;
    background-color: rgb(249, 245, 245);
    border-radius: 10px;
    border: 2px solid transparent;
    transition: 0.5s;
    cursor: pointer;
    overflow-y: auto;
}
.item:hover {
    border-color: #000;
}
img {
    height: 50%;
    width: 100%;
    border-radius: 10px;
}
h3 {
    padding: 0.3em;
    font-size: 1.5em;
    color: rgb(47, 46, 46);;
}
p {
    padding-left: 0.3em;
    font-size: 0.7em;
    color: rgb(47, 46, 46);;
}
.topTitleAside, .titleImg {
    color: rgb(249, 245, 245);
    text-align: center;
    padding: 1em 0;
}
.topTitleAside {
    font-size: 0.7em;
}
.titleImg {
    font-size: 0.8em;
}
.aside {
    grid-area: aside;
    background-color: hsl(0, 1%, 18%);
    margin-right: 1.2em;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    min-width: 200px;
}
.conteudo {
    width: 80%;
    min-width: 160px;
    height: 190px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid transparent;
    cursor: pointer;
    transition: 0.5s;
}
.conteudo:hover {
    border-color: rgb(249, 245, 245);
}
.imgAside {
    height: 80%;
    width: 100%;
}
.yoga {
    margin-bottom: 0.6em;
}
.footer {
    width: 100%;
    margin-top: 1.4em;
    background-color: rgb(47, 46, 46);
    min-height: 65px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 18px;
    justify-content: space-between;
    align-items: center;
}
.logoFooter {
    width: 180px;
    min-height: 40px;
}
.paragraphFooter {
    font-size: 1.2em;
    color: rgb(249, 245, 245);
    padding-right: 1.5em;
    text-decoration: none;
}
@media (min-width: 1200px) {
    .buttonItem {
        font-size: 1.2em;
    }
    .title {
        font-size: 1.6em;
    }
    .paragraphTitle {
        font-size: 1.2em;
    }
    .item {
        height: 360px;
    }
    h3 {
        font-size: 1.9em;
    }
    p {
        font-size: 0.9em;
    }
    .topTitleAside {
        font-size: 1.8em;
    }
    .titleImg {
        font-size: 1em;
    }
    .paragraphFooter {
        font-size: 1.5em;
    }
}
@media (max-width: 670px) {
    .containerCentral {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "main"
        "aside"
        "footer";
    }
    .main {
        row-gap: 18px;
    }
    .topTitleAside {
        padding-top: 1em;
    }
    .aside {
        margin: 1em 1.2em;
        row-gap: 15px;
    }
    .conteudo {
        min-width: 160px;
        width: 290px;
        height: 230px;
    }    
    .yoga {
        margin-bottom: 1em;
    }
    .footer {
        margin-top: 0;
    }
}
@media (max-width: 480px) {
    .header {
        max-height: 115px;
        justify-content: center;
    }
    .conteudo {
        width: 210px;
        height: 200px;
    }
    .footer {
        justify-content: center;
    }
    .paragraphFooter {
        font-size: 0.9em;
        padding-left: 20px;
    }
}